li{
    display: inline;
   
}

.image{
    width: 4rem;
}

.underline{
    color: red;
    font-weight: bolder;
    font-size:large;
    text-decoration: none;
 
}

.grid-container{
    display: grid;
    gap: 0.5rem;}

.item1{
    width: 100%;
    height: 15rem;
    grid-column: 1;
    grid-row: 1;
}

.item2{
   
    width: 100%;
    height:  15rem;
    grid-column: 1;
    grid-row: 2 ;
}

.item3{
    
    width: 100%;
    height: 30.5rem;
    grid-column :2;
    grid-row : 1 / span 2;
}

.item4{
    
    width: 100%;
    height:  15rem;
    grid-column: 3;
    grid-row: 1;
}

.item5{
   
    width: 100%;
    height:  15rem;
    grid-column: 3;
    grid-row : 2;
}

.styles{
    margin: 1rem;
    width:auto;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: block;
    
}
.card-img-top{
    width: auto;
    height: 10rem;
}
.card-title{
    /* background-color: black; */
    color:white;
    /* height:3rem; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0.5rem ;
}
.card{
    background-color: rgb(211, 211, 74);
    height:auto;
    justify-content: center;
    align-items:center;
    align-content: center;
    text-align:left;
}
.color{
    background-color: pink;
}

.white{
    background-color: white;
}
.btn{
    background-color: rgb(182, 182, 24);
    color:black;
    border-color: black;
    justify-content: center;
    align-items:center;
    align-content: center;
    text-align:center;
}
/* .adjust{
    height:10rem;
} */
.temp{
    color:white
}

/* .align{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: darkmagenta;
    font-weight: bolder;
    font-size:large;
    text-decoration: none;
} */

.btn{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /* color: darkmagenta; */
    font-weight: bolder;
    font-size:large;
}

.card-body{
    width: 100%;
}